body{
font-family: 'Fjalla One', sans-serif;
background: #e0e0e0;
}

.everything{
	margin:50px 150px 150px 150px;
	border:5px solid black;
	background: #fffde7;	
}

.top{
	height: 300px;
	position:relative;
	top:25px;
	
}

.bottom{
	border-top: 2px solid #e0e0e0;
	height: 680px;
	margin:0;
	padding: 0;
}
.icons{
 position: relative;
 left:830px;
 height:15px ;
 color: #bdbdbd;
 margin-bottom: 10px;
}

.icons i{
	padding-right: 10px;
	padding-top: 10px;
}

#pic{
	width:230px ;
	position: relative;
	left:25px;
	border:5px solid #e0e0e0;
	border-radius: 5px;
}

.name{
	position: relative;
	left: 300px;
	bottom: 180px;
}

#fullname{
	font-size: 26px ;
	font-weight: 20px;
	margin-bottom: 0;
}

#carreer{
	margin-top: 0;
	font-size: 22px ;
	font-weight: 20px;
	color:#2196F3;
}

.info{
	height:150px;
	position:relative;
	left:780px;
	bottom:270px;
	line-height: 1.8;
}

.about-me p{
	font-size: 20px ;
	position:relative;
	bottom:250px;
	padding:15px;
	margin: 0 auto;
}

.bottom-left{
	position: relative;
	bottom:600px ;
}
.employment{
	margin-right:410px;
	margin-left:15px;
	height:250px ;
	
}

.employment-barra p{
	background: black;
	color:#ffff;
}

.education{
	margin-right:410px;
	margin-left:15px;
}

.education-barra p{
	background: black;
	color:#ffff;
}

.employment-options{
	margin-bottom:10px ;
	height: 100px;
}
.date{
	color:#bdbdbd;
	position:relative;
	left: 500px;
	bottom:35px;
	font-size: 20px;
}

.u{
	font-size: 20px;
	position:relative;
	left:35px;
	bottom:85px;
}
.ocup{
	font-size: 15px;
	position:relative;
	left:35px;
	bottom:100px;
	color: #bdbdbd;
}

.do{
	position:relative;
	bottom:100px;
}

.container {
  width: 100%;
  height: 25px;
  background-color: #ddd; 
  margin-bottom:5px;
}

.skills {
  text-align: right;
  height: 25px; 
  color: white; 
}

.html {width: 90%; background-color: #4CAF50;} 
.css {width: 70%; background-color: #2196F3;} 
.java {width: 90%; background-color: #f44336;} 
.c{width: 50%; background-color: #ffff00;} 

.bottom-right{
margin:0;
padding: 0;
position: relative;
bottom: 20px;
left:680px;
}

.programming-skills{
  position: relative;
  height: 350px;
  width: 290px;
  top:50px;
  overflow: scroll;
}

.programming-skills p{
	margin:0;
	position: static;
}

.input:focus {
	border: 3px solid #2980b9;
}

.programming-skills input{
	padding: 15px;
	font-size: 18px;
	margin:0;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
	color: #2980b9;
}


.programming-skills ul{
	list-style: none;
	margin:0;
	padding: 0;
}

.programming-skills i{
	position: relative;
	float: left;
	margin-right:10px;
}

.delete{
	height: 40px;
	line-height: 40px;
	transition: 0.2s linear;
}

.completed{
	text-decoration: line-through;
}

.graphic-skills{
  position: relative;
  width: 250px;
  top:70px;
}

.square{
	height: 10px;
  	width: 10px;
	background-color:#4CAF50;
}

.gskill div{
	float:left;
	margin: 0 5px;
}

.language-skills{
	position: relative;
  	height: 100px;
  	top:90px;
}

.language p{
	float:left;
	margin:0 10px 0 0;
}